body{
    font-family:sans-serif;
    background:black;
}
#container{
    width: 1200px;
    height:575px;
    background-image: url(https://previews.123rf.com/images/aneese/aneese1607/aneese160700174/77434979-addition-math-cards-blue-and-subtraction-math-cards-black-randomly-spread-out-on-table-educational-s.jpg);
    margin:20px auto;
}
#calculator{
    width:320px;
    height: 500px;
    background-color: whitesmoke;
    margin:0 auto;
    top: 50px;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#result{
    height:150px;
}
#history{
    text-align: right;
    height:40px;
    margin: 0 20px;
    padding-top:20px;
    font-size:15px;
    color:grey

}
#output{
    text-align:right;
    height:70px;
    margin:10px 20px;
    font-size:30px;
    color:black;
}
#keyboard{
    height:350px;
}
.operator,.number,.empty{
    height:50px;
    width:60px;
    margin:10px;
    float:left;
    border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number{
    background-color: bisque;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
